<events>
  <event>
    <name>AlarmBell</name>
    <radius>50</radius>
    <position>
      <x>250</x>
      <y>0</y>
      <z>140</z>
    </position>
    <animation></animation>
    <sound>alarmbell.mp3</sound>
    <thresholds>
        <threshold>
          <name>Extraversion</name>
          <value>30</value>
        </threshold>  
        <threshold>
          <name>Egoism</name>
          <value>101</value>
        </threshold>
        <threshold>
          <name>Thoroughness</name>
          <value>101</value>
        </threshold>
        <threshold>
          <name>EmotionalStability</name>
          <value>70</value>
        </threshold>
        <threshold>
          <name>Introversion</name>
          <value>80</value>
        </threshold>
        <threshold>
          <name>Altruism</name>
          <value>101</value>
        </threshold>
        <threshold>
          <name>Chaoticness</name>
          <value>40</value>
        </threshold>
        <threshold>
          <name>Neuroticism</name>
          <value>30</value>
        </threshold>
    </thresholds>
  </event>
  <event>
    <name>NpcDeath</name>
    <radius>100</radius>
    <position>
      <x>250</x>
      <y>0</y>
      <z>140</z>
    </position>
    <animation></animation>
    <sound>death.mp3</sound>
    <thresholds>
        <threshold>
          <name>Extraversion</name>
          <value>20</value>
        </threshold>  
        <threshold>
          <name>Egoism</name>
          <value>80</value>
        </threshold>
        <threshold>
          <name>Thoroughness</name>
          <value>101</value>
        </threshold>
        <threshold>
          <name>EmotionalStability</name>
          <value>80</value>
        </threshold>
        <threshold>
          <name>Introversion</name>
          <value>70</value>
        </threshold>
        <threshold>
          <name>Altruism</name>
          <value>10</value>
        </threshold>
        <threshold>
          <name>Chaoticness</name>
          <value>101</value>
        </threshold>
        <threshold>
          <name>Neuroticism</name>
          <value>10</value>
        </threshold>
    </thresholds>
  </event>
  <event>
    <name>Police</name>
    <radius>100</radius>
    <position>
      <x>250</x>
      <y>0</y>
      <z>140</z>
    </position>
    <animation></animation>
    <sound>police.mp3</sound>
    <thresholds>
        <threshold>
          <name>Extraversion</name>
          <value>20</value>
        </threshold>  
        <threshold>
          <name>Egoism</name>
          <value>101</value>
        </threshold>
        <threshold>
          <name>Thoroughness</name>
          <value>91</value>
        </threshold>
        <threshold>
          <name>EmotionalStability</name>
          <value>70</value>
        </threshold>
        <threshold>
          <name>Introversion</name>
          <value>5</value>
        </threshold>
        <threshold>
          <name>Altruism</name>
          <value>101</value>
        </threshold>
        <threshold>
          <name>Chaoticness</name>
          <value>50</value>
        </threshold>
        <threshold>
          <name>Neuroticism</name>
          <value>21</value>
        </threshold>
    </thresholds>
  </event>
  <event>
    <name>IceCreamVan</name>
    <radius>50</radius>
    <position>
      <x>250</x>
      <y>0</y>
      <z>140</z>
    </position>
    <animation></animation>
    <sound>icecreamvan.mp3</sound>
    <thresholds>
        <threshold>
          <name>Extraversion</name>
          <value>20</value>
        </threshold>  
        <threshold>
          <name>Egoism</name>
          <value>61</value>
        </threshold>
        <threshold>
          <name>Thoroughness</name>
          <value>101</value>
        </threshold>
        <threshold>
          <name>EmotionalStability</name>
          <value>10</value>
        </threshold>
        <threshold>
          <name>Introversion</name>
          <value>70</value>
        </threshold>
        <threshold>
          <name>Altruism</name>
          <value>51</value>
        </threshold>
        <threshold>
          <name>Chaoticness</name>
          <value>101</value>
        </threshold>
        <threshold>
          <name>Neuroticism</name>
          <value>80</value>
        </threshold>
    </thresholds>
  </event>
</events>