<settings>
  <personalities>
    <personality>
      <name>
        Extraversion
      </name>
      <minvalue>55</minvalue>
      <maxvalue>44</maxvalue>
    </personality>
    <personality>
      <name>
        Egoism
      </name>
      <minvalue>49</minvalue>
      <maxvalue>38</maxvalue>
    </personality>
    <personality>
      <name>
        Thoroughness
      </name>
      <minvalue>38</minvalue>
      <maxvalue>52</maxvalue>
    </personality>
    <personality>
      <name>
        EmotionalStability
      </name>
      <minvalue>56</minvalue>
      <maxvalue>51</maxvalue>
    </personality>
  </personalities>
</settings>