<settings>
  <personalities>
    <personality>
      <name>
        Extraversion
      </name>
      <minvalue>0</minvalue>
      <maxvalue>0</maxvalue>
    </personality>
    <personality>
      <name>
        Egoism
      </name>
      <minvalue>0</minvalue>
      <maxvalue>0</maxvalue>
    </personality>
    <personality>
      <name>
        Thoroughness
      </name>
      <minvalue>0</minvalue>
      <maxvalue>0</maxvalue>
    </personality>
    <personality>
      <name>
        EmotionalStability
      </name>
      <minvalue>0</minvalue>
      <maxvalue>0</maxvalue>
    </personality>
  </personalities>
</settings>